.back{
   
    background-color: rgb(71, 197, 132) !important;
    width: 300px !important;
    border-radius: 20%;
    margin:25vh auto;
    border:2px solid black;
}
.small-size{
    width:190px !important;
}
.button-small{
    width:40px !important;
    height:20px  !important;
    padding: 2px !important;
    
}
#middle{
    
   position: absolute;
   
  
  width:100%;
  background-color: rgba(0, 0, 0, 0.681);
  height: 100%;
  
}